@using WillsPlatform.Web.Models
@model FormsViewModel

@{
    ViewData["Title"] = "Questionnaires";
}

@await Html.PartialAsync("_breadcrumb", new BaseViewModel() { Breadcrumbs = Model.Breadcrumbs, Heading = Model.Heading })

<section class="section">  
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Forms<span>| Management</span> <a asp-action="AddForm" asp-controller="Manage" class="btn btn-primary float-end">Add New</a></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var (form, index) in Model.Forms.Select((value, i) => (value, ++i)))
                                {

                                    <tr>
                                        <th scope="row"><a href="#">#@index</a></th>
                                        <td>@form.Name</td>
                                        <td>
                                            <a asp-action="EditForm" asp-controller="Manage" asp-route-id="@form.Id"><i class="ri-edit-2-line"></i></a>
                                            <a asp-action="DeleteForm" asp-controller="Manage" asp-route-id="@form.Id"><i class="ri-delete-bin-5-line"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>