@using WillsPlatform.Web.Models.Manage
@model FormsViewModel

@{
    ViewData["Title"] = "Questionnaires";
}

<div class="pagetitle">
    <h1>Forms</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Forms</li>
        </ol>
    </nav>
</div>
<section class="section">  
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Forms<span>| Management</span> <button class="btn btn-primary float-end">Add New</button></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var (form, index) in Model.Forms.Select((value, i) => (value, ++i)))
                                {

                                    <tr>
                                        <th scope="row"><a href="#">#@index</a></th>
                                        <td>@form.Name</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>