@{
    ViewData["Title"] = "Questionnaires";
}

<div class="pagetitle">
    <h1>Questionnaires</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Questionnaires</li>
        </ol>
    </nav>
</div>
<section class="section">  
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Questionnaires<span>| Management</span> <button class="btn btn-primary float-end">Add New</button></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Form</th>
                                <th scope="col">Text</th>
                                <th scope="col">Field Type</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">#1</a></th>
                                <td>Wills</td>
                                <td>Name of the Testator</td>
                                <td><a href="#" class="text-primary">Text Box</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#2</a></th>
                                <td>Wills</td>
                                <td>Address</td>
                                <td><a href="#" class="text-primary">Multiline Textbox</a></td>
                                <td><span class="badge bg-warning">Pending</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#3</a></th>
                                <td>Wills</td>
                                <td>Gender</td>
                                <td><a href="#" class="text-primary">Dropdown</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#4</a></th>
                                <td>Wills</td>
                                <td>Relationship</td>
                                <td><a href="#" class="text-primary">Dropdown</a></td>
                                <td><span class="badge bg-danger">Rejected</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#5</a></th>
                                <td>Wills</td>
                                <td>Date Of Marriage</td>
                                <td><a href="#" class="text-primary">Date Time</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#6</a></th>
                                <td>Wills</td>
                                <td>Previously Made a Will - Date</td>
                                <td><a href="#" class="text-primary">Date Time</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#7</a></th>
                                <td>Wills</td>
                                <td>Telephone Number(s)</td>
                                <td><a href="#" class="text-primary">Text Box</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#">#8</a></th>
                                <td>Wills</td>
                                <td>Social Sec No</td>
                                <td><a href="#" class="text-primary">Text Box</a></td>
                                <td><span class="badge bg-success">Approved</span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->
    </div>
</section>