@using WillsPlatform.Web.Models.Manage
@model QuestionnaireViewModel

@{
    ViewData["Title"] = "Questionnaires";
}

<div class="pagetitle">
    <h1>Questionnaires</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Questionnaires</li>
        </ol>
    </nav>
</div>
<section class="section">  
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Questionnaires<span>| Management</span> <a asp-action="CreateQuestion" asp-controller="Manage" class="btn btn-primary float-end">Add New</a></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Form</th>
                                <th scope="col">Text</th>
                                <th scope="col">Field Type</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var (question, index) in Model.Questionnaires.Select((value,i)=>(value, ++i)))
                                {

                                    <tr>
                                        <th scope="row"><a href="#">#@index</a></th>
                                        <td>@question.Form.Name</td>
                                        <td>@question.Text</td>
                                        <td><a href="#" class="text-primary">@question.Field.Name</a></td>
                                        <td><span class="badge bg-success"><a asp-action="EditQuestion" asp-controller="Manage" asp-route-id="@question.Id">Edit</a></span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>