@model TemplatesViewModel
@{
    ViewData["Title"] = "Templates";
}

<div class="pagetitle">
    <h1>Questionnaires</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Templates</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Templates<span>| Management</span> <a asp-action="CreateQuestion" asp-controller="Manage" class="btn btn-primary float-end">Add New</a></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Tokens</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                                @{
                                    foreach (var (template, index) in Model.Templates.Select((value, i) => (value, ++i)))
                                    {

                                    <tr>
                                        <th scope="row"><a href="#">#@index</a></th>
                                        <td>Wills Template</td>
                                        <td>@template.Tokens.FirstOrDefault()</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    }
                                }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>