@using WillsPlatform.Web.Models.Forms
@model FormListVM

@{
    ViewData["Title"] = "Questionnaires";
}

<div class="pagetitle">
    <h1>Forms</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Form</li>
        </ol>
    </nav>
</div>
<section class="section">  
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Questionnaires<span>| Management</span> <button class="btn btn-primary float-end">Add New</button></h5>
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var form in Model.Forms)
                                {

                                    <tr>
                                        <th scope="row"><a href="#">#@i</a></th>
                                        <td>@form.Name</td>
                                    </tr>
                                    {
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->
    </div>
</section>